.margin-top {
  margin-top: 10em;
}

.discord {
  color: white;

  text-align: left;

  background: #2F3136;
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

.discord-image {
  border-radius: 40px;
}

.discord-container {
  margin-top: 15px;
  display: flex;
}

.discord-content {
  padding-top: 32px;
  margin-left: 25px;
  display: inline-block;
  width: 150px;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #418c6c;
  border-radius: 50%;
  display: inline-block;
}

.align-center {
  text-align-last: center;
}

.discord-button {
  text-align-last: center;
  background-color: #4EA375;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  padding-top: 11px;
}

.discord-content a {
  vertical-align: middle;
  color: white;
}
