<div class="presentation">
  <div class="container text-center">

    <div class="userpic"></div>

    <h3 class="uppercase">Meu nome é</h3>
    <h1 class="super-title">Rafael Reis</h1>
    <h2 class="uppercase">Desenvolvedor, Músico, Gamer</h2>
  </div>
</div>

<menu-scroll list='controller.menu'></menu-scroll>

<section id="section-1" class="bg-grey cd-section">
  <div class="container">
    <h1>Sobre mim</h1>

    <p>
      <h3>Visão Geral</h3>
      <article class="about-me-span">
        Como você viu acima meu nome é Rafael Reis, tenho {{ controller.me.age }} anos, sou um usuário linux desde 2013, mas uso outros sistemas operacionais também hehe, sou <a href="http://www.zend.com/en/services/certification/php-5-certification" target="_blank">ZCPE</a> (Zend Certified PHP Engineer) desde 2013, sou uma pessoa que ama tecnologia e desenvolvimento, levo comigo a importância de aprender e me atualizar. Tenho grande experiência com desenvolvimento e treinamento de pessoas, e também tenho bastante conhecimento em liderança de projetos nos últimos trabalhos que eu participei.
      </article>
    </p>

    <p>
      <h3>Comunidade</h3>
      <article class="about-me-span">
        Sou um contribuidor de códigos fontes abertos no <a href="https://github.com" target="_blank">Github</a>, também sou ativista na <a href="http://phpsp.org.br/" target="_blank">Comunidade PHPSP</a>, e gosto muito de ir eventos relacionados à programação.
      </article>
    </p>

    <p>
      <h3>Curiosidade</h3>
      <article class="about-me-span">
        Eu gosto de tocar violão e cantar como passatempo, também gosto de Coca-cola, café, e cerveja, uso meu tempo livre também para escrever/ler e assistir séries, as vezes gravar alguns vídeos, e não esquecendo... jogar online e com certeza jogar poker.
      </article>
      <br />
      <article>
        Esse site tem o código aberto, se gostou deixe sua estrelinha no <a href="https://github.com/reisraff/reisraff.github.io" target="_blank">repositório do GitHub</a>, e sinta se livre para fazer seu fork.
      </article>
    </p>
  </div>
</section>

<section id="section-2" class="cd-section">
  <div class="container">
    <nav>
      <ul class="nav nav-pills nav-justified">
          <li><a href="mailto:reisraff@gmail.com"><img alt="email" class="svg" src="assets/svg/social/email.svg" /></a></li>
          <li><a href="tel:+5511984416276"><img alt="whatsapp" class="svg" src="assets/svg/social/whatsapp.svg" /></a></li>
          <li><a href="skype:reisraff?userinfo"><img alt="skype" class="svg" src="assets/svg/social/skype.svg" /></a></li>
          <li><a href="https://br.linkedin.com/in/reisraff" target="_blank"><img alt="linkedin" class="svg" src="assets/svg/social/linkedin.svg" /></a></li>
          <li><a href="https://github.com/reisraff" target="_blank"><img alt="github" class="svg" src="assets/svg/social/github.svg" /></a></li>
          <li><a href="https://twitter.com/reisraff" target="_blank"><img alt="twitter" class="svg" src="assets/svg/social/twitter.svg" /></a></li>
          <li><a href="https://fb.com/reisraff" target="_blank"><img alt="facebook" class="svg" src="assets/svg/social/facebook.svg" /></a></li>
          <li><a href="https://instagram.com/reisraff" target="_blank"><img alt="instagram" class="svg" src="assets/svg/social/instagram.svg" /></a></li>
          <li><a href="https://www.youtube.com/channel/UCFUI-6CCp9-uSmgdBmxJtnA" target="_blank"><img alt="youtube" class="svg" src="assets/svg/social/youtube.svg" /></a></li>
          <li><a href="https://medium.com/@reisraff" target="_blank"><img alt="medium" class="svg" src="assets/svg/social/medium.svg" /></a></li>
          <li><a href="https://play.spotify.com/user/12164074686" target="_blank"><img alt="spotify" class="svg" src="assets/svg/social/spotify.svg" /></a></li>
      </ul>
    </nav>
  </div>
</section>
