body {
  font-size: 14px;
  /*text-shadow: 0px 0px 70px rgba(0, 0, 0, 1);*/
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

p {
  margin-bottom: 50px;
}

section {
  padding: 30px 0;
}

article {
  font-size: 20px;
}

.bg-grey {
  background: #F5F5F5;
}

.bg-dark-grey {
  background: #9C9C9C;
}

.bg-black {
  background: #222;
}

.white a {
  color: #FFF;
}

.footer {
  min-height: 360px;
}

.svg:hover path {
  fill: #ccc;
}

.super-title {
  font-size: 72px;
  text-transform: uppercase;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.uppercase {
  text-transform: uppercase;
}

.presentation {
  background: url('../img/background.jpg');
  background-size: cover;
  background-position: 0px 0px;
  background-repeat: no-repeat;

  color: #FFF;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1) !important;

  padding-top: 75px;
  padding-bottom: 28.5px;
}

/* @todo refactor */
.userpic {
  display: block;
  width: 250px;
  height: 250px;
  margin: 20px auto;
  background: url('../img/userpic.png');
  background-position: 50% 0px;
  background-size: 88%;
  background-repeat: no-repeat;
  border: 4px solid white;
  border-radius: 150px;
}
